[2016-12-24 12:46] BanaipePT opened #1 "Allow re-ordering of the tracks"
I think it would be good if we can ajust the order of the tracks by using the click and drag function of js.

[2016-12-24 12:55] iamfreee commented on #1
Hi,

I will rewrite the app to use react js and will add that feature.
This will happen in ~end of february :/.

[2016-12-24 12:59] BanaipePT commented on #1
Thanks!

+1 Follower

[2016-12-24 12:59] #1 closed

[2017-03-30 10:51] rcacheira opened #3 "showing future dates"
Some trackings are showing future dates.
This problem should be caused by incompatible timezones.

[2017-04-01 03:52] iamfreee commented on #3
Geartrack added support for timezones, but not sure if it is fixed.

[2017-04-01 03:52] #3 closed

[2017-04-01 03:52] iamfreee opened #4 "Add Dockerfile"

[2017-04-01 04:20] iamfreee opened #5 "Replace news date to the format days ago"

[2017-04-01 16:18] #4 closed

[2017-04-01 16:18] #5 closed

[2017-04-02 01:16] iamfreee opened #6 "Trocar tabelas dos templates (ctt) por algo mais responsive"

[2017-04-03 11:35] BanaipePT opened #7 "Suporte às encomendas do eBay"
A meu ver acho que seria uma excelente melhoria dado a quantidade de compras que existem usando a plataforma do eBay.

Reconheço que a própria plataforma já tem um mecanismo próprio mas que nem sempre funciona e apenas fornece informações básicas.

**Formato Geral**
- HKxxxxxxxxxPY
- HKxxxxxxxxxAM
- UAxxxxxxxxxYP

**ID Para Testes**
- HK694459332PY
- HK05341163AM
- UA846098317YP

[2017-04-03 12:08] iamfreee commented on #7
Muito obrigado @BanaipePT.

Vamos tratar de adicionar brevemente.

No futuro, para o suporte de mais IDs o repositório certo é:
https://github.com/hdnpt/geartrack

Cumprimentos

[2017-04-04 14:26] #6 closed

[2017-04-04 14:29] iamfreee commented on #7
Movi para
https://github.com/hdnpt/geartrack/issues/16

[2017-04-04 14:29] #7 closed

[2017-04-05 00:34] rcacheira opened #8 "add ebay yanwen track data to website"

[2017-04-07 12:27] iamfreee commented on #8
Added

[2017-04-07 12:27] #8 closed

[2017-04-21 17:33] iamfreee opened #9 "PQ - Show no data message"
When there are no messages & states, say it!

[2017-04-26 15:06] iamfreee opened #10 "Things to Add"
- Add CTT support
- Add new sky56 replacement
- Show Adicional Id in correos express info, maybe also add a link to the provider
- Add new ebay tracker

[2017-04-27 01:01] iamfreee commented on #10
Done

[2017-04-27 01:01] #10 closed

[2017-04-27 08:11] infernvs opened #11 "On RS****CN track"
GET /img/loading.svg 304 0.655 ms - -
GET /img/timeline_line.png 304 0.556 ms - -
events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: spawn /home/cerbervs/geartrack-website/node_modules/htmltidy/bin/linux/tidy ENOENT
    at exports._errnoException (util.js:1018:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_pr

[2017-04-27 12:07] iamfreee commented on #11
Hi,

That error was caused by a dependency in the geartrack package:
https://github.com/hdnpt/geartrack/blob/master/package.json#L26

It is fixed in the latest versions, you should run `npm update`

😃

[2017-04-27 12:07] #11 closed

[2017-04-27 13:09] iamfreee opened #12 "Add new Ebay supported id"
yanwen YF300536891

[2017-05-16 13:25] iamfreee commented on #12
done

[2017-05-16 13:25] #12 closed

[2017-05-16 13:26] iamfreee opened #13 "Add new Ebay provider ready"
https://github.com/hdnpt/geartrack/issues/32

[2017-05-17 22:29] iamfreee opened #14 "Add new provider"
https://github.com/hdnpt/geartrack/issues/49

[2017-05-18 00:02] rcacheira opened #15 "[DHL] 9490966041"
https://github.com/hdnpt/geartrack/issues/41

[2017-05-18 00:02] rcacheira opened #16 "[Gearbest] 3354366363"
https://github.com/hdnpt/geartrack/issues/48

[2017-05-18 00:03] rcacheira opened #17 "[Aliexpress] CP337500215CN"
https://github.com/hdnpt/geartrack/issues/49

[2017-05-18 00:03] rcacheira opened #18 "[Aliexpress] BZ012761245CN"
https://github.com/hdnpt/geartrack/issues/50

[2017-05-18 00:06] rcacheira opened #19 "[Gearbest] RR349825620HU"

[2017-05-18 16:07] #18 closed

[2017-05-18 16:07] #17 closed

[2017-05-18 16:07] #16 closed

[2017-05-18 16:07] #15 closed

[2017-05-18 16:08] #14 closed

[2017-05-18 16:08] #13 closed

[2017-05-18 16:08] iamfreee opened #20 "Add message to show support for Geekbuying"

[2017-05-19 14:26] #20 closed

[2017-05-19 17:25] iamfreee opened #21 "Add a circuit breaker and throttle"
Sometimes the tracker providers are down and we need to be prepared. When adicional is down, our server have problems.

We need to add something like:
https://github.com/Netflix/Hystrix

[2017-05-22 10:07] infernvs opened #22 "crash after last update"
Bugsnag:  TypeError: cb is not a function
    at Request.<anonymous> (/home/cerbervs/geartrack-website/node_modules/geartrack/src/correosOldTracker.js:33:13)
    at Request._callback (/home/cerbervs/geartrack-website/node_modules/lodash/lodash.js:10067:25)
    at Request.requestRetryReply [as reply] (/home/cerbervs/geartrack-website/node_modules/requestretry/index.js:105:19)
    at Request.<anonym

[2017-05-22 10:51] iamfreee commented on #22
Hi,

Try to update the geartrack package: npm install.
Check the package.json to see if the version is correct, geartrack is at version 2..

[2017-05-22 13:12] infernvs commented on #22
Hello again, it's working now, for some reason wasn't doing anything on npm install but it's working now, tnks.

[2017-05-22 13:12] #22 closed

[2017-05-25 01:21] iamfreee opened #23 "Add a prompt to Add a shortcut to homescreen on mobile devices"

[2017-05-25 19:53] iamfreee opened #24 "Better validation for inserted ids, only allow 0-9a-zA-Z"

[2017-05-26 15:57] brunoshine opened #25 "[Improvement] Last state first"
Hi all,

first of all, great tool :) 🥇

I would like to drop a suggestion: For better User Experience, the last state should be the first of the list. Otherwise one always have to scroll down the page.

Cheers,
Bruno

[2017-05-26 16:01] iamfreee commented on #25
Hi,

That is the expected behaviour 😄 .

What is the id that is wrong?

[2017-05-26 16:57] brunoshine commented on #25
I mean the whole timeline :P

Currently, for instance, the first box is for the Sky56, then for the Correos ES...and so on until it reaches the Adicional PT.

My suggestion is the other way around:
Adicional PT should be the first on the timeline, and Sky56 should be the last.

[2017-05-26 17:30] iamfreee commented on #25
Ahh, i see.

I have to make a poll to see if people agree too. Is a big change. 😃

I will do it in our Facebook page.

[2017-05-28 20:56] brunoshine commented on #25
:)

[2017-05-28 20:59] brunoshine opened #26 "[Improvement] Allow collapse of orders when more than one is being tracked"
Hi,

If I've got several orders being tracked, it would be nice if i could collapse them in a way that the "header"  (orange bar that now shows the description and the tracking code) would show the description and the last state.

Cheers,
Bruno

[2017-05-28 21:00] iamfreee commented on #25
The vote is online:

https://www.facebook.com/geartrackpt/photos/a.1815889058732697.1073741828.1815378058783797/1853198315001771/?type=3&theater

[2017-05-28 21:06] iamfreee commented on #26
Hi,

Yes, that functionality will be implemented after we change the code to be a Single Page Application using React.

Before that we will only continue to add support for new ids, the js (client) code right now is a bit (very) ugly. 😄

[2017-05-28 21:06] iamfreee commented on #24
done

[2017-05-28 21:06] #24 closed

[2017-05-28 22:06] brunoshine commented on #26
The move to React is on any branch? I was doing a PR for an minor improvement :)

[2017-05-28 22:10] iamfreee commented on #26
Not started yet, we are working with react & redux for college projects right now and when we are finished we will start working in the new geartrack version.

[2017-06-01 13:57] iamfreee opened #27 "Invert the Order of the new providers appearance in PQ ids"

[2017-06-26 15:49] iamfreee opened #29 "Geartrack v2 Architecture"
Need opinions about the achitecture of the next version of Geartrack which will have authentication and notifications.

![architecture](http://i.imgur.com/t4cW8lZ.png)

Concerns:
- Should we add auth to the tracker api to prevent other apps to depend on us? (bandwidth can be expensive)

[2017-08-23 13:08] nunopicado opened #30 "Add DPD Tracking"
Sugestion, add DPD tracking to GearTrack.
DPD tracking page is https://www.dpd.com/tracking
One sample tracking number is MPS0521870208078120170821

[2017-08-23 18:08] iamfreee commented on #30
Hi,

Just added, is online now. 😄

[2017-08-23 18:08] #30 closed

[2017-08-23 18:55] nunopicado commented on #30
Couldn't be faster, thank you!

[2017-09-21 10:58] fabiocatalao commented on #29
Which type of notifications are you thinking to handle with the _Service API_?
From what I'm understanding it will not be connected with the _Tracker API_ and all the tracking updates will be requested by the _Client APP_, right?

[2017-09-21 11:09] iamfreee commented on #29
There is a missing call from the Service API to the Tracker API to handle the notifications, this job will be  scheduled in every x hours (and maybe divided into chunks).

The notifications will have multiple implementations, the first to be implemented will be email. When the mobile apps are ready we will add push notifications too.

[2017-10-30 00:57] marcolopes opened #31 "Tracking GearBest BELGIUM REGISTERED not updating"
**GearBest BELGIUM tracking is done by bpostchina**
http://track.bpostchina.com/Tracking/Results?barcode=RG988586830BE
Latest Parcel Tracking Information
Status: Item is announced / bpost received the information
Time: Tue, 24 Oct 2017 12:21:15

**GearTrack uses Postal Ninja and 17track that DO NOT UPDATE info**!
Postal Ninja: Ainda não existe informação disponível para este ID.
17track: Este trac

[2017-10-30 10:11] iamfreee commented on #31
Thanks for the issue, we will look into it.
🙂

[2017-10-30 16:00] iamfreee commented on #31
We added Bpost for R..BE ids.

Should help more. (CTT + Bpost)

[2017-12-07 11:10] jonferreira opened #32 "suggestion: Add support for skynetworldwide"
https://www.skynetworldwide.com/services/track-and-trace
006486282596

[2017-12-07 21:54] iamfreee commented on #32
Hi, we will add to the backlog and will implement as soon as we can.

But you may expect only in the next version of the website.

[2017-12-07 21:55] iamfreee commented on #32
Also, what is the store and the shipping method name just to have a context?
Thanks

[2018-04-14 03:06] bipeshnaidu commented on #31
RG958804615BE this is my tracking I'd it's been one and half months my product has not yet arrived when will I be able to get my product

[2018-05-14 17:57] marcolopes opened #33 "SEUR Tracking not working"
TRACKING NUMBER: **SU15260341841253**

Does not track on the geartrack
(Seur: Ainda não existe informação disponível para este ID)

Opening the LINK to SEUR SITE the TRACKING NUMBER is ONE CHAR SHORT!
http://www.seur.com/livetracking/?segOnlineIdentificador=SU1526034184125&segOnlineIdioma=pt

The correct LINK should be: http://www.seur.com/livetracking/?segOnlineIdentificador=SU15260341841253&segO

[2018-05-14 18:41] marcolopes commented on #33
I understand. But the SEUR link could open correctly...

Thanks for the great service!

[2018-08-28 17:17] modem opened #34 "Gearbest EU Priority Line does not seem to be fully supported"
I made an order on Gearbest with EU Priority Line. It comes by DHL from Germany. In geartrack I see the information from DHL, which seems to start showing data from Germany when DHL receives the package. But it's missing the information until Germany which I can see in https://www.1tracking.net
My tracker code starts with CF.
Let me know if it's possible to support this new shipping method or not.

[2018-08-28 17:31] carlosflorencio commented on #34
Hi @modem, we're aware of that.

I'll try to prioritize it, thanks.

[2018-08-28 17:48] modem commented on #34
Thanks!

[2018-08-28 17:48] #34 closed

[2018-10-09 10:30] temospena opened #35 "Suggestion: add a Share button"
I think it would be handy to have a way to share the status of one or all the trackings with someone, directly, by an URL with a query or something (an unique URL).
This instead of telling someone to go to the website and add all the tracking codes by him/hersefl.
Good job!

[2018-10-09 22:14] carlosflorencio commented on #35
Hi,

Yeah, we have already received that feature request some time ago. We're implementing it in the new version of the website but since it may take a while to be finished we may include it in the current version too.

We could add it via query string like:
`https://geartrack.pt/?share=LVS1376360003936649;Phone`

What do you think? If the user already has other orders saved, should we display it

[2018-10-09 22:18] temospena commented on #35
Yes!
The query string would be perfect, because if the other user has it's own
customization, it wouldn't interfere... right?
So, is it *only* a matter of having a button to show/hide the complete url
string? ^^

On Tue, Oct 9, 2018 at 11:14 PM Carlos Florêncio <notifications@github.com>
wrote:

[2019-10-17 11:05] luisfcorreia opened #36 "novo ID para Winit"
Boas, não foi possível adicionar este ID

WO01061098065355UK

isto é via Winit

[2019-10-17 21:06] carlosflorencio commented on #36
Boas, acabei de adicionar suporte 😃.

Cumprimentos

[2019-10-17 21:06] #36 closed

[2019-10-17 21:34] luisfcorreia commented on #36
Boa, validado!

[2019-11-28 11:22] jonferreira opened #37 "4PX tracking"
Hi,

As far as I can see 4PX isn't supported yet.

Here's an example

http://track.4px.com/query/400204657434

[2019-11-28 11:45] carlosflorencio commented on #37
Hi @jonferreira,

Thanks for the example, we'll try to add it ASAP.

I'll notify you when it's deployed.

[2019-11-28 12:15] jonferreira commented on #37
Cool thanks!

I'd - try to - do it myself and submit a PR but I'm swamped right now :(

[2019-11-29 22:18] jonferreira commented on #33
SEUR was bought by DPD so no point now anyway

[2019-12-01 12:11] carlosflorencio commented on #33
@jonferreira good point 👍

[2019-12-01 12:11] #33 closed

[2019-12-11 22:48] carlosflorencio commented on #37
Hi,

Just to let you know 4PX is now live. 💪

[2019-12-11 22:48] #37 closed

[2019-12-11 23:05] jonferreira commented on #37
nice!

[2020-03-04 14:10] miguelmanteigueiro opened #39 "Suggestion: Add support for Sending"
https://info.sending.es/fgts/u/RZHLXV
999928686334
Ref: LPGBA000000212232590

[2020-03-09 19:26] carlosflorencio commented on #39
We'll add to our todo list, thanks.

[2020-07-09 08:44] jonferreira opened #40 "Suggestion: Add auto-sort option based on last update date"
Hey,

Would be cool if we could get an optional "auto sort" option that would sort packages by last update date.

This way it would show all packages out for delivery first - hopefully!

Hope this makes sense

[2020-07-09 09:05] carlosflorencio commented on #40
Hi @jonferreira good ideia, I'll add it to the todo list.

Sorry for the delay on the v2.

Regards

[2020-07-09 09:08] jonferreira commented on #40
No worries :)

[2020-07-28 23:23] afonsosantos opened #41 "Help"
Hi,

Thank you for this amazing application, saves me so much time! 😀

I'm wondering if the team needs any help with the V2, or with the current version, like writing documentation, coding, etc.

[2020-07-30 07:40] carlosflorencio commented on #41
Hi @afonsosantos,

We like interested people like you, I'll drop you an email.

[2020-07-30 07:43] #41 closed, assigned to nobody

[2020-08-05 21:24] miguelmanteigueiro opened #42 "Suggestion: Add Luxembourg Post support"
LL772057905LU
Luxembourg Post - https://www.trackandtrace.lu/homepage.htm?locale=en_GB

[2020-08-05 21:34] carlosflorencio commented on #42
Hi @Reffter, we'll add it to our backlog :).

[2020-10-09 14:41] luisfcorreia opened #43 "API is broken"
I'm getting a 400 error while inspecting console

GET https://geartrack.pt/api/ctt?id=RY402061900IL
[HTTP/2 400 Bad Request 1073ms]

[2020-10-11 18:59] carlosflorencio commented on #43
Hi,

I can't find that ID in the CTT website: https://www.ctt.pt/feapl_2/app/open/objectSearch/objectSearch.jspx?objects=RV445876178CN&request_locale=en

[2020-10-20 09:12] luisfcorreia commented on #43
A while ago, it used to show from more providers, not just CTT

17track dot net does show some tracking
https://t.17track.net/en#nums=RY402061900IL

[2020-10-20 20:34] carlosflorencio commented on #43
Hi,

We've been blocked by one of our "generic" carriers. We're trying to find a good replacement in the meantime :/.

[2021-01-04 13:52] feiticeir0 opened #44 "Nothing is working"
Since the new upgrade (read it in the news) nothing is working...
I'm following 21 track numbers and nothing appears... The progress animation it just stays there, animating without anything ever appear...

I've tried (where I have all the numbers) in Firefox 84.0.1 (64bit) and even tried in Google Chrome, by adding a new one...

[2021-01-04 13:55] carlosflorencio commented on #44
Sorry for this, can you check the browser console and network requests for errors? This would help us identify the issue.

[2021-01-04 13:58] pedrobotelho opened #45 "Please add this new tracker."
Order on ebay with tracker:

https://www.orangeconnex.com/tracking?language=en&trackingnumber=EE10012419158450001040003E0N

Thanks

[2021-01-04 14:03] carlosflorencio commented on #45
Hi @pedrobotelho, we'll try to add this tracker during the week.

Just a matter of curiosity did you have any issue like this https://github.com/hdnpt/geartrack-website/issues/44 since yesterday?

[2021-01-04 14:13] pedrobotelho commented on #45
No Carlos, everything is working normally at my side!
I've 6 items 2 that are not working because they are from the above tracker and the other 4 are working as usually!

I did not notice any issue at all.

Thanks

[2021-01-04 14:14] carlosflorencio commented on #45
Cool, thanks for the feedback!

[2021-01-04 14:23] jabss commented on #45
Hi, I'm experiencing the same issue as #44 since yesterday. Tried to delete all TrackIDs and start all over but the issue remains.

![image](https://user-images.githubusercontent.com/7312250/103544668-5d2a9780-4e98-11eb-9676-5bd4be327519.png)

[2021-01-04 14:26] carlosflorencio commented on #45
@jabss can you move your comment to the issue #44 and check if you can prove more data from you browser console / failed requests? (I can help you debug it if needed).

[2021-01-04 14:29] jabss commented on #44
Hi, I'm experiencing the same issue as #44 since yesterday. Tried to delete all TrackIDs and start all over but the issue remains.

![image](https://user-images.githubusercontent.com/7312250/103545672-cc54bb80-4e99-11eb-9986-70c32ee0b9c3.png)

![image](https://user-images.githubusercontent.com/7312250/103545755-eabab700-4e99-11eb-8a8b-fa70dc630a33.png)

Errors from the console:
[code]

It is worki

[2021-01-04 14:52] feiticeir0 commented on #44
Here it is. I'm just posting the first ones, but it's the same for all the others...
[code]
Thank you !

[2021-01-04 15:01] carlosflorencio commented on #44
Should be related with CORS, I've relaxed the API allowed origin settings. Can you try again? (I've just deployed)

[2021-01-04 15:06] Xtema opened #46 "Visual enhancement"
Hi
I noticed for the recent added 4px one of the stages is not in bold as the others
Example:
![image](https://user-images.githubusercontent.com/9453730/103548820-45561200-4e9e-11eb-8580-0c1e12c5ee7e.png)
Thanks for your great work!

[2021-01-04 15:15] feiticeir0 commented on #44
Nopes. Still errors:

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://tracker-api.geartrack.app/carriers/S...... (Reason: CORS request did not succeed).

Uncaught (in promise) TypeError: NetworkError when attempting to fetch resource. gear.js:106:23
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at h

[2021-01-04 15:15] jabss commented on #44
2021/01/04 15:14 -  I'm afraid it's still with the same behavior. Same CORS errors as before.

[2021-01-04 15:32] carlosflorencio commented on #44
Okay, I'm relaxing the `Access-Control-Request-Headers` as well. Can you guys test again? (I've just deployed again)

Also, what do you get when trying to make a request via terminal `curl -v https://tracker-api.geartrack.app/carriers` ?

[2021-01-04 15:37] feiticeir0 commented on #44
I get this:
[code]

And a new testing yields not results :
[code]

[2021-01-04 15:47] carlosflorencio commented on #44
Okay, the issue seems more related with Certificates than CORS now. The tracker-api cert was generated by Cloudflare and running a ssl test on it seems fine.

Trying to update the operative system certificates CA store is an option for you guys? In the meantime I'll try a workaround to avoid using the new domain.

[2021-01-04 16:09] carlosflorencio commented on #44
I've changed the tracker-api url from `https://tracker-api.geartrack.app` to `https://tracker-api.geartrack.pt` on the website, can you check if it make any difference? (it will use the certificate from the `geartrack.pt` domain)

[2021-01-04 16:14] jabss commented on #44
Working now. Thanks!

[2021-01-04 16:17] carlosflorencio commented on #44
Cool! Since I can't replicate the issue, can you test in both domains (`geartrack.pt` and `geartrack.hdn.pt`)?

[2021-01-04 16:34] jabss commented on #44
2021/01/04 16:33  - Tested 2 minutes ago and it failed in both domains. Retested it again (right now) and it's working on both.

[2021-01-04 17:17] jabss commented on #44
2021/01/04 17:17  oops... not working again. Neither domain.

[2021-01-04 17:22] carlosflorencio commented on #44
Yeah I'm making some changes on the CORS rules again but if the issue was around the certificates I wasn't expecting this to have any impact. Are you able to chat in a more straight away fashion via whatsapp/messenger/email? It will be easier to gather your feedback (if so ping me `carlosmflorencio@gmail.com`).

[2021-01-04 17:25] feiticeir0 commented on #44
Still nothing works... The same errors

[2021-01-04 18:25] carlosflorencio commented on #44
Can you try again now? I've replaced the external tracker-api to an internal path in the same domain.

[2021-01-04 20:19] carlosflorencio commented on #46
Hi, thanks for the feedback.

I've just released some visual changes, removed the bold text and added a label for the location.

What you think?
![image](https://user-images.githubusercontent.com/1500881/103575810-266d7500-4eca-11eb-90e1-44af31f662ae.png)

[2021-01-04 20:22] carlosflorencio commented on #44
Since the change to use an internal path resulted in a traffic increase I'd expect this to be fixed:
![image](https://user-images.githubusercontent.com/1500881/103576013-6af91080-4eca-11eb-9813-12d423461dc7.png)

Will wait for your feedback to confirm.

[2021-01-04 21:55] jabss commented on #44
Hi, yes, I confirm it is working now.
Thanks!

[2021-01-04 22:40] carlosflorencio commented on #44
Cool! @feiticeir0 do you confirm as well?

[2021-01-05 09:55] feiticeir0 commented on #44
Hi ! Sorry for the delay, but I've been away .
I confirm that everything is working now !

Thank you very much !

[2021-01-05 11:20] Xtema commented on #46
Hi
It looks great
Good job!
Thanks for your work :)

[2021-01-05 13:26] carlosflorencio commented on #46
Cool!

[2021-01-05 13:26] #46 closed, assigned to nobody

[2021-01-05 13:26] carlosflorencio commented on #44
Cool, just report here if you have more issues.

[2021-01-05 13:26] #44 closed, assigned to nobody

[2021-01-05 19:33] RenatoCapelo opened #47 "Sugestion: Add ANPost"
Hi there, please add the Irish post :)
The format is this one:
https://www.anpost.com/

Best regards,
Renato Capelo Ventura

[2021-01-05 20:31] carlosflorencio commented on #47
Hi Renato, can you provide a valid id for us to test?

(Send us via Facebook / email (`carlosmflorencio@gmail.com`) if you prefer)

[2021-01-06 23:07] carlosflorencio commented on #45
Just added this carrier :).

[2021-01-06 23:07] #45 closed, assigned to nobody

[2021-01-06 23:08] carlosflorencio commented on #43
Closing, stale.

[2021-01-06 23:08] #43 closed, assigned to nobody

[2021-01-06 23:08] carlosflorencio commented on #42
Added :).

[2021-01-06 23:08] #42 closed, assigned to nobody

[2021-01-07 09:23] pedrobotelho commented on #45
Hi Carlos!

Its working, it has the country on the stops! Great!

It looks great Thanks!

Just one question, maybe this is not the right place but its a simple one, on the trackers when it says Próximo ID: UJ827448XXX
the information will be display also right? we don't need to add a "new" item, right?

Thanks again

[2021-01-07 09:31] carlosflorencio commented on #45
Hi Pedro,

Good to know it works, yeah its the next ID and it should be inserted manually at the moment. We hope to improve this process in the next version. I'll try to add a tooltip with some help when that field exists.

[2021-01-07 09:42] pedrobotelho commented on #45
Ok thanks!

The ticket is closed and Working as expected!

Great job!
And if you need help you can count with me! Just ask!
Thanks again!

[2021-01-07 16:46] jabss opened #48 "Suggestion: Add new provider"
Hi,
I have a package that seems to be from yum express but it isn't recognized in Geartrack:

`YT2033912102000480`

It is, however, recognized in

`https://www.trackingmore.com/yunexpress-tracking.html?number=YT2033912102000480` (although the latest updates are in chinese chars).

Would it be worth to check if this provider can be included in geartrack?

 Thanks!

[2021-01-07 20:14] carlosflorencio commented on #48
Should be working now.

[2021-01-07 20:14] #48 closed, assigned to nobody

[2021-01-07 20:16] jabss commented on #48
Confirmed. Thank you a million!

[2021-01-07 20:26] carlosflorencio commented on #48
Np, keep giving suggestions 💪.

[2021-01-10 18:29] carlosflorencio commented on #47
Added :).

[2021-01-10 18:30] #47 closed, assigned to nobody

[2021-02-03 18:41] RenatoCapelo opened #50 "Suggestion: Add Cainiao"
Hello! I was wondering if you could add Cainiao to geartrack. It's aliexpress's standard courier.

Here is a tracking number: 63590000017347601815002

And here is the website: https://global.cainiao.com/

Thank You!

PS. The site might be in Chinese but you can simply press the EN button on top
![image](https://user-images.githubusercontent.com/55708901/106793398-520d8780-664f-11eb-9478-6c2149939a

[2021-02-03 21:37] carlosflorencio commented on #50
Hi @RenatoCapelo,

We already supported Cainiao, it was a matter of associating the new ID format.

It should be working now:
![image](https://user-images.githubusercontent.com/1500881/106812781-061b0c80-6668-11eb-9b05-1ee2bcb042fa.png)

Regards

[2021-02-03 21:37] #50 closed, assigned to nobody

[2021-02-04 10:16] pedrobotelho opened #51 "Add Tracking support for Yanwen"
Hi,
Please add tracking support for Yanwen.

Example: https://track.aftership.com/trackings?courier=yanwen&tracking-numbers=AC550032883YN

Thanks

[2021-02-04 15:11] carlosflorencio commented on #51
Hi @pedrobotelho, should be working now.

Regards

[2021-02-04 15:11] #51 closed, assigned to nobody

[2021-02-04 22:52] pedrobotelho commented on #51
Working fine!

Thanks

[2021-02-22 17:29] pedrobotelho opened #52 "add dpd coment on tracker"
Hi,
Do you think it's possible to add the comment on the dpd tracker?

It could be concatenated with " - ".
you can use this for guidance.

https://dpd.pt/track-and-trace?reference=

Thanks

[2021-02-22 20:18] carlosflorencio commented on #52
Hi,

Should be working now :).

[2021-02-22 21:00] pedrobotelho commented on #52
Great!
Working perfectly!

Thanks for your quick response!!! as always! :D

[2021-02-22 21:00] #52 closed, assigned to nobody

[2021-03-09 09:33] JotaSM opened #53 "Suggestion: Add support for postnl.post"
I have a tracking nr. UD*********NL that geartrack cannot identify, but I can follow it on postnl.post.
Please ignore this, it was my mistake!

[2021-03-09 09:47] #53 closed, assigned to nobody

[2021-03-09 09:47] JotaSM commented on #53
It was my mistake, It is working already.

[2021-03-09 09:53] carlosflorencio commented on #53
Cool 👍

[2021-08-18 13:34] AshKetshup opened #54 "Suggestion: Add an email or message sender to inform the user of any updates on the tracking"
Hey there,
It could be really handy if i could in the moments that im not checking the webapp keep being informed by an email or a phone message that there as been a change on one of the trackers, maybe even telling the update.

[2021-08-18 14:20] carlosflorencio commented on #54
Hi,

Yep, we definitely have that function on the backlog, I need it myself as well. We're just polishing the new version with an auth system before start working on that.

[2021-09-06 19:47] axcs opened #55 "Help for Support geartrack on Home Assistant"
There is no platform that does better traking than this platform, and the home assistant needs it. The Home assistant uses pyton, javascript and html scripts it doesn't seem to be difficult to port to the home assistant but I need help

[2021-09-06 21:58] carlosflorencio commented on #55
Hi @axcs, thanks for your feedback.

Can you describe the home assistant integration purpose? Is it to have notifications on state changes?

Right now our api is not protected and everyone is able to use it but we'll revise this soon (scraping the carriers can be expensive).

[2021-09-06 22:13] axcs commented on #55
Not only could automations be carried out for changes of state, such as a flashing light, such as somehow getting the tracking in a file in the home assistant, which allowed the entire house to see the state in the home assistant's dashboard. Using the site, for example, whenever you change your pc or browser, the tracking information is lost, being able to have this information in the Home Assist

[2021-09-12 09:59] carlosflorencio commented on #55
Sorry for the delay, holidays.

We're working on the user system to allow users to share the tracking ids between devices. After that, we'll implement the notifications mechanism, and some time afterwards maybe external integrations like the home assistant as you're suggesting.

[2021-09-17 06:58] diogocnunes opened #56 "Add Paack on Geartrack website"
Hi! Amazon Spain is now shipping products through Paack (https://paack.co/pt-pt/) too. Could you add it on the website, please?

[2021-09-17 08:38] carlosflorencio commented on #56
Hi @diogocnunes, can you send us a tracking id for testing?

Via email (carlosmflorencio at gmail.com) or a Facebook message (Geartrack Page).

[2021-09-17 08:54] diogocnunes commented on #56
Hi, @carlosflorencio
I sent to you by e-mail and Messenger.
Thanks!

[2021-09-17 16:22] diogocnunes commented on #54
This is a good stuff!

[2021-09-18 21:27] carlosflorencio commented on #56
Paack now works on Geartrack 🎉.

[2021-09-18 21:27] #56 closed, assigned to nobody

[2021-10-25 20:26] jonferreira opened #57 "Support MRW"
Hi.

Would be great if support for MRW could be added. Here's an example: 08200A020901

[2021-10-25 22:30] carlosflorencio commented on #57
Hi @jonferreira,

I've just added this new format, should work in a few minutes.

Also, if you want to try out our next version deployed at https://geartrack.app/ and provide feedback, that would be great.

We'll announce it soon, it's still a beta version where we'll be adding more features in the next days.

[2021-10-25 22:30] #57 closed, assigned to nobody

[2021-11-02 08:16] CaldeiraG opened #58 "Add support for DHL Express shipments"
Hello there,

Can you add support for DHL Express packages? Seems like they're also doing numerical tracking codes that won't associate properly with Geartrack.

Tracking code: 8270772786 [DHL Link](https://www.dhl.com/es-en/home/tracking/tracking-express.html?submit=1&tracking-id=8270772786)

Thanks

[2021-11-02 23:16] carlosflorencio commented on #58
Hi @CaldeiraG , I'll look into it.

[2021-11-02 23:47] carlosflorencio commented on #58
It should work now 💪

[2021-11-02 23:47] #58 closed, assigned to nobody

[2021-11-29 12:27] RuiPereiraKT opened #59 "Support: New tracking for yuntrack"
Hello, can you further add support to yuntrack?

My item bought from tomtop website: https://www.yuntrack.com/Track/Detail/DY401752807PT

Thanks!

[2021-11-29 14:48] carlosflorencio commented on #59
Yo, the only thing missing was associating that ID format.

Should be working now 💪.

[2021-11-29 14:48] #59 closed, assigned to nobody

[2021-12-14 09:43] diogocnunes opened #60 "Suggestion: Add Support to Packeta"
Add Support to Packeta.

Tracking Example: https://tracking.packeta.com/pt/?id=5406324353

[2021-12-14 17:06] carlosflorencio commented on #60
Should be working now @diogocnunes !

[2021-12-14 17:06] #60 closed, assigned to nobody

[2021-12-21 10:44] carlosflorencio commented on #39
Sorry for the long wait time, we already support Sending for a few weeks now.

If you have an ID that doesn't work yet let me know. Closing for now.

[2021-12-21 10:44] #39 closed, assigned to nobody

[2022-01-03 11:11] diogocnunes opened #61 "Support for SEUR"
Firstly, a happy new year to you all!

I would suggest including support for orders delivered via SEUR.

Code example: 2021291288831178874395

Best Regards,

Diogo

[2022-01-03 11:14] diogocnunes commented on #61
The website is https://www.seur.com/livetracking/

Amazon.es send some stuff for this delivery company

[2022-01-03 11:24] carlosflorencio commented on #61
Hi Diogo,

Happy new year, we currently don't support SEUR because they have a good anti-bot system in place. We need to implement a different scraping strategy using an headless browser.

We're focusing on lauching the [new website](https://geartrack.app) at the moment so this may take some time.

Regards

[2022-01-14 10:37] henriqueribeiro opened #62 "Error logging with Github"
I'm trying to login with my GH account but I'm getting the following error:

`{"code":500,"type":"ServerError","message":"Houston, we have a problem!"}`

Besides that, great job!! :rocket:

[2022-01-14 12:20] carlosflorencio commented on #62
Hi @henriqueribeiro, thanks for reporting.

I can see on the logs some errors when creating a user account when coming from Github. Github might be returning a null value on a field that is mandatory for us (not sure which yet). I'll add more logging on this code path and then ask you to login again, can you do that?

[2022-01-14 12:29] henriqueribeiro commented on #62
yes sir!

Let me know and I can try again

[2022-01-14 16:06] carlosflorencio commented on #62
You can try again :)

[2022-01-14 16:16] henriqueribeiro commented on #62
It's working!! That's great @carlosflorencio
Thanks

[2022-01-14 16:16] #62 closed, assigned to nobody

[2022-01-14 16:27] carlosflorencio commented on #62
Nice!

[2022-01-25 14:38] MagicalCrib opened #63 "Open/Close delivery details issue"
Hi,

Currently when I click on an item to open or close the delivery details, it does nothing, but if I refresh the page, it will show or hide the details (behavior depends on the previous state and how many clicks I made).
Tested on Firefox and Chrome, both with the same behavior.

[2022-01-25 14:55] carlosflorencio commented on #63
Hi @modem, can you share the console output? Looking for any error messages.

Also, if you could record a small video with the bug it would help to have an idea of the issue.

[2022-01-25 15:38] MagicalCrib commented on #63
Hi,

Here's the video:
https://youtu.be/khviWIuIVik

I get no errors when I click on the items, but I have when I refresh the page.
Here are the errors I got when I refresh the page to show the open items:

[code]

And the errors when I click to close the items:
[code]

[2022-01-27 09:00] carlosflorencio commented on #63
Thanks a lot for the video and detailed description @modem !

The bug is now fixed, it was introduced with the new sorting functionality :(.

[2022-01-27 09:00] #63 closed, assigned to nobody

[2022-01-31 13:40] b0nk opened #64 "Support for APC Postal Logistics"
Hello, please add support for APC service.

https://www.apc-pli.com/apc-tracking.html
https://www.apc-pli.com/apc-tracking-v2.html

First link shows info faster/earlier but can fail sometimes.
Second link is more reliable but updates tracking info less frequently.

[2022-01-31 17:14] carlosflorencio commented on #64
Hi @b0nk ,

Can you provide an ID for testing?

[2022-02-01 09:22] b0nk commented on #64
Can I send it to the email in your profile?

[2022-02-01 09:28] b0nk opened #65 "Support for KM Estafetas"
Hi,

Please add this service.
https://kmestafetas.pt/en/tracking

[2022-02-01 09:34] carlosflorencio commented on #64
Sure, send the ids for APC and KM Estafetas so that I can test them. 💪

[2022-02-01 10:12] b0nk commented on #64
Check your inbox :)

[2022-02-06 17:55] moonlightz opened #66 "Visual world tracking for each tracking"
Everyone seems to stick to English, I will have to do it as well.
It would be nice to have an option, where Edit/Remove options are, to open a world map and then draw lines where the parcel/package was. The line could be animated or not. The engine will have to parse the text presented for the selected tracking. It can or may be not accurate because some points may not present a full location. Lik

[2022-02-06 18:56] carlosflorencio commented on #66
Hi @moonlightz 😃 ,

That's a cool feature, as you highlighted it's prone to errors since the carrier states might not provide accurate information about the location. I'll keep it on the whishlist, we have other priority features that we want to implement first, notifications for example.

[2022-04-12 10:30] ptrpinheiro opened #67 "Support for t.meest-group.com"
Hi, Please consider add support for
https://t.meest-group.com/en/

Thanks

[2022-04-12 11:00] carlosflorencio commented on #67
Hi @ptrpinheiro , can you share a tracking number? (Via email / facebook page message).

[2022-04-12 12:45] ptrpinheiro commented on #67
Hi Carlos,
Sure:

https://t.meest-group.com/en/IHB5117539890

Thanks,
Pedro
________________________________
De: Carlos Flor?ncio ***@***.***>
Enviado: 12 de abril de 2022 12:01
Para: hdnpt/geartrack-website ***@***.***>
Cc: ptrpinheiro ***@***.***>; Mention ***@***.***>
Assunto: Re: [hdnpt/geartrack-website] Support for t.meest-group.com (Issue #67)

Hi @ptrpinheiro<https://nam12.safelinks.protec

[2022-05-06 22:59] jbvc97 opened #68 "When adding the first tracking ID, prompt for postal code, when needed"
Hi.
First of all, great tool ❤

To track an GLS parcel, its necessary to provide an postal code, if not Geartrack can't provide information. I know i can add afterwards on the cog menu.
![image](https://user-images.githubusercontent.com/5308392/167225288-046464b5-6220-478c-a056-7152523ee467.png)

But I would suggest that, when the first tracking ID is added, should prompt the user, when needed, ab

[2022-05-07 17:17] carlosflorencio commented on #68
Yo @jbvc97 thanks for reporting, I can't seem to replicate this issue, can you describe the steps taken?

On my end, after pasting an ID (on the dialog to add a new order) the input for the postal code appears if that ID matches the regex of the carriers that require a postal code (you can check the browser requests for the carrier list compatible with that id).

[2022-05-08 17:37] jbvc97 commented on #68
Sure, i can describe the steps 😃

- Make sure that is the first tracking id inserted in the application;
- Insert the follow tracking id: 312023328021550010, in the input;
- Click "Track".

Steps as a gif:
![msedge_ouMp83nBo9](https://user-images.githubusercontent.com/5308392/167307848-33ef5c58-4ca6-4897-882d-4f6a28cad685.gif)

After adding the ID, the app can't retrieve the information, because f

[2022-05-09 07:41] carlosflorencio commented on #68
Ahh 😄 yeah the first track from the homepage, I almost never use it that's why I forgot about it (I always have some IDs so I don't see the homepage that often).

Thanks for the screencast, I'll look into requesting the postal code from that journey as well.

Thanks!

[2022-05-16 14:06] CaldeiraG opened #69 "Manually pick which tracking platform should be used"
Hello there, so I got a tracking number that Geartrack assumes it's on CTT which makes sense. The tracking number is [DY531671415PT](http://track.4px.com/#/result/0/DY531671415PT).

I recently found that tracking info is available on 4PX (since it's a package coming from Shenzhen) but because it's a DY code it associates as a CTT package.

My suggestion is having an option to manually switch betwe

[2022-05-16 21:35] carlosflorencio commented on #69
Hi @CaldeiraG ,

Thanks for the suggestion, manually selecting a carrier for an ID is something that we want to add in the future (we're focused in other projects atm so Geartrack development is a bit slow :/).

In the meantime, I've associated that ID format `DY\d{9}PT` with 4PX, if you know more formats that are missing just let me know :).

[2022-05-19 08:10] #69 closed, assigned to nobody

[2022-06-28 09:32] vjccruz commented on #40
![image](https://user-images.githubusercontent.com/5125346/176145429-2d81591c-34e5-40c2-9b82-77a0a2bd3789.png)

I think this feature is already implemented.

[2022-06-28 14:21] carlosflorencio commented on #40
Yeah this is already done, thanks @vjccruz :).

[2022-06-28 14:21] #40 closed, assigned to nobody

[2022-07-18 22:18] SwayerPT opened #70 "Add Support for E-mail Notification"
Hey Guys,

You should implement support for receiving notifications by e-mail and SMS.
Every new status, every new update.

[2022-07-19 07:58] carlosflorencio commented on #70
Hi @SwayerPT, yeah its a much requested feature.

I'll try to work on it soon. Sending notifications (email, push notifications, etc) will most probably incur in some costs for us (we'll need to pay a provider to send notifications).

Is this a feature you would pay for? It should be a very small amount (one time or yearly).

I'm thinking about the following business plan:
- Notifications for 1 or

[2022-09-08 16:45] diogodh opened #71 "CTT carrier not parsing correctly"
From my test (maybe others need to confirm), if you use lower case on CTT tracking, for example Rh949499356pt it will not find the shipping
But if you use UPPERCASE like RH949499356PT it does find.
So to parse the input to uppercase at least with CTT can probably be a solution.

[2022-09-08 20:02] carlosflorencio commented on #71
Hey @diogodh, yeah lowercase letters usage is not common in tracking ids. Even if you use that in the CTT website, they don't allow it. Some retailer sent you the id in lowercase?

Right now our regex expressions that assign ids to carriers only take in consideration the uppercase letters (valid id). If we uppercase all ids by default, it might break some carriers that use lowercase letters (can't

[2022-09-09 09:42] diogodh commented on #71
Hello @carlosflorencio in ctt website, I can use both lower or upper case, either using website input,  short url like https://ctt.pt/t/XX123456789XX or full url like https://appserver.ctt.pt/CustomerArea/PublicArea_Detail?IsFromPublicArea=true&ObjectCodeInput=XX123456789XX&SearchInput=XX123456789XX

On the input in my case, it was a typo I did while writing the tracking code, cause my browser on

[2022-09-12 16:37] carlosflorencio commented on #71
Okay, I think I'll set the id regex expressions to be case insensitive. I'll let you once it's deployed. Thanks for the feedback 💪

[2022-10-11 00:30] SwayerPT opened #72 "Auth by Google and others not working"
Hello,

I’ve tried to log in by google using iphone and is not working. The system checks for an account but redirects to the same page of login. Even refreshing the page to check if is logged.

[2022-10-11 09:56] carlosflorencio commented on #72
Looking into it, thanks for reporting.

[2022-10-11 11:31] carlosflorencio commented on #72
Should be fixed now.

[2022-10-11 11:31] #72 closed, assigned to nobody

[2022-10-26 14:07] carlosflorencio commented on #71
Should work fine now with lowercase ids.

[2022-10-26 14:07] #71 closed, assigned to nobody

[2022-10-26 22:51] SwayerPT commented on #70
My opinion is... Making something to pay is hard this days... as u know.
But... you should add a subscription feature that gives access for something like....

**Free Account:**

- Add up to 10 orders.
(Should have a FIELD on DB like "Nº of orders Available to add");

- Important Notification (E-mails):
For 3 orders (limited);
Add a new Box under the list box only for IMPORTANTS.
(You should MARK

[2022-10-28 11:23] SwayerPT opened #73 "Login Failed using Iphone XR IOS 16.2"
Hello, a few days ago i have added a topic about this, and u said that u have fixed. But... is not fixed.
I will add a video and u cna watch and see by your eyes what really is happening when u try to Login via GMAIL.

basicly the session is failed and goes back to the login again. Could be a simple error or else.
On PC works perfectly. But i use Iphone so... i like to be sync.

https://user-image

[2022-10-28 15:56] carlosflorencio commented on #73
This seems the behaviour of firebase being blocked due to restricted networks/proxys that buffer responses (corporate networks), does it work in mobile/home networks?

Can you send a message via the Crisp chat (should have been in the bottom right of that page 🤔 ) so that we can do a debug session together? (Thanks for all the feedback lately)

[2022-10-28 23:41] SwayerPT commented on #73
No, even trying using Mobile Data or Home network with/without Another-Proxy. (8.8.8.8, 8.8.4.4).

I have a sugestion for you.
Do u know STEAM APP right? They use the Website as APP template. You should do the same. You save time. 90% os the problems will be solved on website and you will have an APP xD.

[2022-10-29 12:30] carlosflorencio commented on #73
Yeah using a hybrid technology (web in native) should be our choice when launching a mobile app.

But that wouldn't solve this specific issue with the login 🤔,  can you check the developer console on the mobile to check for any logs/failed requests? For safari ios, you need to connect the iPhone via cable to the mac and use the Safari Technology Preview browser to inspect, I'd do this myself but I

[2022-10-29 12:31] carlosflorencio commented on #73
Also, are you using an adblocker (via extension or dns like pihole/nextdns) ? If so, they might be blocking the crisp chat and some google domains (required for firebase).

[2022-10-30 22:50] SwayerPT commented on #73
Wow... that could be the problem.. i am using one blocker... hummmm I will test soon.

[2022-10-30 23:08] SwayerPT commented on #73
Nop, tested and AdBlock W/without is doing the same error. Probably sessionStorage error...
If you have an iphone, test it using ios16.2 Beta.

[2022-10-31 08:44] carlosflorencio commented on #73
I don't participate on the iOS betas, with the adblock disabled, did you have the crisp chat button back?

[2022-10-31 19:32] carlosflorencio commented on #70
Yeah this is a hard subject, but we'll launch the notifications feature without a paywall at first. Later down the line we should include some monetization scheme to pay for the costs, your ideas will come in handy 💪.

[2022-10-31 21:57] SwayerPT commented on #73
On IOS Safari does not show the Button. Only on PC Version

[2022-10-31 22:09] carlosflorencio commented on #73
It should appear, your adblock should be blocking it.

[2022-11-14 16:00] CaldeiraG opened #74 "Add Asendia Tracking support"
Hello there, I got a suggestion of another website to add to Geartrack.

The link is as follows: https://tracking.asendia.com/tracking/LF046458557FR

Thanks and best regards

[2022-11-14 17:56] carlosflorencio commented on #74
Thanks for the suggestion, will try to look into it next week.